/**
 * @file
 * Contains site-specific styles for content vault website.
 */

.field--name-field-photos .field__items {
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  justify-content: space-between;
}

.field--name-field-photos .field__item {
  padding: 0 2px 1em;
  flex: 0 1 23.5%;
}
